body, html {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Roboto';
	

}

.d_header {
	background: #f2f3f3;
	height: 48px;
}

.d_info {
	
	background-color: #2d9846;
	background-image: url(../img/bg-header.png);
	background-repeat: repeat-x;
	background-position: bottom;
	height: 280px;

}

.d_info_titulo {
	margin-top: 30px;
	text-align: center;
	color: #ffffff;
	font-weight: 300;

}

.d_info_subtitulo {
	margin-top: 10px;
	text-align: center;
	color: #ffffff;
	font-weight: 400;

}

.menu {
	
	
}

.d_cadastrar {
	border: 2px solid #2d9846;
	border-radius: 5px;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 20px;
		

}


.d_visualizar {
	border: 2px solid #2d9846;
	border-radius: 5px;
	height: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 20px;

}

a {
	text-decoration: none;
	color: #2d9846;
}


a:visited {
	text-decoration: none;
	color: #2d9846;

}

a:link {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #2d9846;

}

a:hover {
	text-decoration: none;
	color: #000000;
	background-color: #f2f3f3;

}

a:active {
	text-decoration: none;
	color: #000000;

}


.d_servicos {
	background-color: #f2f3f3; 
	height: auto;
	
}



.footer_main {

	position: relative;
	background-color: #2d9846;
	height: 120px;
	width: 100%;
	bottom: 0;
	left: 0;
	
}



